<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>InicioServlet</display-name>
    <servlet-name>InicioServlet</servlet-name>
    <servlet-class>controlador.InicioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InicioServlet</servlet-name>
    <url-pattern>/InicioServlet</url-pattern>
  </servlet-mapping>
  <display-name>EjercicioGrupalM5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ContactoServlet</display-name>
    <servlet-name>ContactoServlet</servlet-name>
    <servlet-class>controlador.ContactoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactoServlet</servlet-name>
    <url-pattern>/ContactoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearCapacitacionServlet</display-name>
    <servlet-name>CrearCapacitacionServlet</servlet-name>
    <servlet-class>controlador.CrearCapacitacionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearCapacitacionServlet</servlet-name>
    <url-pattern>/CrearCapacitacionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controlador.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarCapacitacionServlet</display-name>
    <servlet-name>ListarCapacitacionServlet</servlet-name>
    <servlet-class>controlador.ListarCapacitacionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCapacitacionServlet</servlet-name>
    <url-pattern>/ListarCapacitacionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controlador.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearUsuarioServlet</display-name>
    <servlet-name>CrearUsuarioServlet</servlet-name>
    <servlet-class>controlador.CrearUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearUsuarioServlet</servlet-name>
    <url-pattern>/CrearUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarUsuarioServlet</display-name>
    <servlet-name>ListarUsuarioServlet</servlet-name>
    <servlet-class>controlador.ListarUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarUsuarioServlet</servlet-name>
    <url-pattern>/ListarUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarClienteServlet</display-name>
    <servlet-name>EditarClienteServlet</servlet-name>
    <servlet-class>controlador.EditarClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarClienteServlet</servlet-name>
    <url-pattern>/EditarClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarProfesionalServlet</display-name>
    <servlet-name>EditarProfesionalServlet</servlet-name>
    <servlet-class>controlador.EditarProfesionalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarProfesionalServlet</servlet-name>
    <url-pattern>/EditarProfesionalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarAdministrativoServlet</display-name>
    <servlet-name>EditarAdministrativoServlet</servlet-name>
    <servlet-class>controlador.EditarAdministrativoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarAdministrativoServlet</servlet-name>
    <url-pattern>/EditarAdministrativoServlet</url-pattern>
  </servlet-mapping>
</web-app>